### **Project 2 - Pandas CSV reader & basic analysis**

### **DataFrames**

In [117]:
import pandas as pd

In [118]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns = ["A","B","C"])

In [119]:
df.head()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [120]:
df.head(1)

   A  B  C
0  1  2  3

In [121]:
df.head(2)

   A  B  C
0  1  2  3
1  4  5  6

In [122]:
df.tail(2)

   A  B  C
1  4  5  6
2  7  8  9

In [123]:
#To know what the headers are
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [124]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [125]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [126]:
df.index.tolist()

[0, 1, 2]

In [127]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns = ["A","B","C"], index = ["x","y","z"])

In [128]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [129]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [130]:
#To get more information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [131]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [132]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [133]:
#To find the number of unique values in each column
df.nunique()

A    3
B    3
C    3
dtype: int64

In [134]:
#To find the number of unique values in a specific column
df['A'].unique()

array([1, 4, 7])

In [135]:
df.shape

(3, 3)

In [136]:
# To find the total number of items
df.size

9

### **Importing and Reading a dataset**

In [177]:
#importing coffee dataset
from google.colab import files
uploaded = files.upload()

Saving coffee.csv to coffee (4).csv

In [178]:
coffee = pd.read_csv("coffee.csv")

In [179]:
coffee #we can also use print(coffee) or display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [180]:
coffee.head() #access the first 5 rows

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [181]:
#if we need first 10 rows
coffee.head(10)

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45
9     Friday       Latte          35

In [182]:
#if we need last 5 rows
coffee.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [183]:
#if we need last 10 rows
coffee.tail(10)

          Day Coffee Type  Units Sold
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [184]:
#To access random data
coffee.sample(10)

         Day Coffee Type  Units Sold
11  Saturday       Latte          35
6   Thursday    Espresso          40
3    Tuesday       Latte          20
9     Friday       Latte          35
12    Sunday    Espresso          45
10  Saturday    Espresso          45
2    Tuesday    Espresso          30
8     Friday    Espresso          45
13    Sunday       Latte          35
0     Monday    Espresso          25

In [185]:
#loc allows us to filter by rows and columns
coffee.loc[0]

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [186]:
coffee.loc[[0,1,2]]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [187]:
coffee.loc[0:3]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30
3  Tuesday       Latte          20

In [188]:
coffee.loc[0:]

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [189]:
coffee.loc[5:8]

         Day Coffee Type  Units Sold
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45

In [190]:
coffee.loc[5:8, ["Day", "Units Sold"]]

         Day  Units Sold
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45

In [191]:
coffee.loc[:, ["Day", "Units Sold"]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [192]:
coffee.iloc[:,[0,2]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [193]:
coffee.iloc[0:5,[0,2]]

         Day  Units Sold
0     Monday          25
1     Monday          15
2    Tuesday          30
3    Tuesday          20
4  Wednesday          35

In [174]:
coffee.index = coffee["Day"]

In [155]:
coffee.loc["Monday"]

           Day Coffee Type  Units Sold
Day
Monday  Monday    Espresso          25
Monday  Monday       Latte          15

In [99]:
coffee.loc["Monday":"Wednesday"]

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25

In [100]:
coffee.loc["Monday":"Wednesday","Units Sold"]

Day
Monday       25
Monday       15
Tuesday      30
Tuesday      20
Wednesday    35
Wednesday    25
Name: Units Sold, dtype: int64

In [175]:
coffee

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

In [102]:
coffee.loc[1,"Units sold"] = 10

In [103]:
coffee.head()

                 Day Coffee Type  Units Sold  Units sold
Day
Monday        Monday    Espresso        25.0         NaN
Monday        Monday       Latte        15.0         NaN
Tuesday      Tuesday    Espresso        30.0         NaN
Tuesday      Tuesday       Latte        20.0         NaN
Wednesday  Wednesday    Espresso        35.0         NaN

In [104]:
coffee.at[1,"Units Sold"]

np.float64(nan)

In [105]:
coffee.iat[0,0]

'Monday'

In [106]:
coffee["Day"]

Day
Monday          Monday
Monday          Monday
Tuesday        Tuesday
Tuesday        Tuesday
Wednesday    Wednesday
Wednesday    Wednesday
Thursday      Thursday
Thursday      Thursday
Friday          Friday
Friday          Friday
Saturday      Saturday
Saturday      Saturday
Sunday          Sunday
Sunday          Sunday
1                  NaN
Name: Day, dtype: object

### **Sorting**

In [194]:
coffee.sort_values("Units Sold") #increasing order

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
13     Sunday       Latte          35
11   Saturday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [195]:
coffee.sort_values("Units Sold",ascending=False) #decreasing order

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
8      Friday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
11   Saturday       Latte          35
13     Sunday       Latte          35
9      Friday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [196]:
coffee.sort_values(["Units Sold", "Coffee Type"],ascending=[0,1])

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [197]:
for index , row in coffee.iterrows():
  print(index)
  print(row)
  print("\n")

0
Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object


1
Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object


2
Day             Tuesday
Coffee Type    Espresso
Units Sold           30
Name: 2, dtype: object


3
Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object


4
Day            Wednesday
Coffee Type     Espresso
Units Sold            35
Name: 4, dtype: object


5
Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object


6
Day            Thursday
Coffee Type    Espresso
Units Sold           40
Name: 6, dtype: object


7
Day            Thursday
Coffee Type       Latte
Units Sold           30
Name: 7, dtype: object


8
Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object


9
Day            Friday
Coffee Type     Latte
Units Sold         35
Name: 9, dtype: object


10
Day            Saturday
Coffee Type    Espresso
Units Sold           45
Name: 10, dtype: object


11
Day            Saturday
Coffee Type       Latte
Units Sold           35
Name: 11, dtype: object


12
Day              Sunday
Coffee Type    Espresso
Units Sold           45
Name: 12, dtype: object


13
Day            Sunday
Coffee Type     Latte
Units Sold         35
Name: 13, dtype: object

In [198]:
for index , row in coffee.iterrows():
  print(index)
  print(row['Units Sold'])
  print("\n")

0
25


1
15


2
30


3
20


4
35


5
25


6
40


7
30


8
45


9
35


10
45


11
35


12
45


13
35

### **Filtering Data**

In [199]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [200]:
coffee.loc[coffee['Units Sold']>30]

          Day Coffee Type  Units Sold
4   Wednesday    Espresso          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [201]:
coffee.loc[(coffee['Units Sold']>30) & (coffee['Coffee Type'] == "Latte")]

         Day Coffee Type  Units Sold
9     Friday       Latte          35
11  Saturday       Latte          35
13    Sunday       Latte          35

In [202]:
coffee[coffee['Coffee Type'].str.contains("tte")]

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
5   Wednesday       Latte          25
7    Thursday       Latte          30
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35

### **Adding or Removing Columns**

In [203]:
coffee['price'] = 4.99

In [204]:
coffee.head()

         Day Coffee Type  Units Sold  price
0     Monday    Espresso          25   4.99
1     Monday       Latte          15   4.99
2    Tuesday    Espresso          30   4.99
3    Tuesday       Latte          20   4.99
4  Wednesday    Espresso          35   4.99

In [205]:
import numpy as np
coffee['new_price'] = np.where(coffee['Coffee Type']=='Espresso', 3.99, 5.99)

In [206]:
coffee.head()

         Day Coffee Type  Units Sold  price  new_price
0     Monday    Espresso          25   4.99       3.99
1     Monday       Latte          15   4.99       5.99
2    Tuesday    Espresso          30   4.99       3.99
3    Tuesday       Latte          20   4.99       5.99
4  Wednesday    Espresso          35   4.99       3.99

In [207]:
coffee.drop(0)

          Day Coffee Type  Units Sold  price  new_price
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99

In [208]:
coffee

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       3.99
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99

In [209]:
coffee.drop(columns = ["price"])

          Day Coffee Type  Units Sold  new_price
0      Monday    Espresso          25       3.99
1      Monday       Latte          15       5.99
2     Tuesday    Espresso          30       3.99
3     Tuesday       Latte          20       5.99
4   Wednesday    Espresso          35       3.99
5   Wednesday       Latte          25       5.99
6    Thursday    Espresso          40       3.99
7    Thursday       Latte          30       5.99
8      Friday    Espresso          45       3.99
9      Friday       Latte          35       5.99
10   Saturday    Espresso          45       3.99
11   Saturday       Latte          35       5.99
12     Sunday    Espresso          45       3.99
13     Sunday       Latte          35       5.99

In [210]:
coffee #see! it's not modified

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       3.99
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99

In [211]:
#If we want to actually modify
coffee.drop(columns = ["price"], inplace = True)

In [212]:
coffee #see! it got modified

          Day Coffee Type  Units Sold  new_price
0      Monday    Espresso          25       3.99
1      Monday       Latte          15       5.99
2     Tuesday    Espresso          30       3.99
3     Tuesday       Latte          20       5.99
4   Wednesday    Espresso          35       3.99
5   Wednesday       Latte          25       5.99
6    Thursday    Espresso          40       3.99
7    Thursday       Latte          30       5.99
8      Friday    Espresso          45       3.99
9      Friday       Latte          35       5.99
10   Saturday    Espresso          45       3.99
11   Saturday       Latte          35       5.99
12     Sunday    Espresso          45       3.99
13     Sunday       Latte          35       5.99

In [213]:
coffee['revenue'] = coffee["Units Sold"] * coffee["new_price"]

In [214]:
coffee

          Day Coffee Type  Units Sold  new_price  revenue
0      Monday    Espresso          25       3.99    99.75
1      Monday       Latte          15       5.99    89.85
2     Tuesday    Espresso          30       3.99   119.70
3     Tuesday       Latte          20       5.99   119.80
4   Wednesday    Espresso          35       3.99   139.65
5   Wednesday       Latte          25       5.99   149.75
6    Thursday    Espresso          40       3.99   159.60
7    Thursday       Latte          30       5.99   179.70
8      Friday    Espresso          45       3.99   179.55
9      Friday       Latte          35       5.99   209.65
10   Saturday    Espresso          45       3.99   179.55
11   Saturday       Latte          35       5.99   209.65
12     Sunday    Espresso          45       3.99   179.55
13     Sunday       Latte          35       5.99   209.65

In [215]:
coffee.rename(columns={'new_price':'price'})

          Day Coffee Type  Units Sold  price  revenue
0      Monday    Espresso          25   3.99    99.75
1      Monday       Latte          15   5.99    89.85
2     Tuesday    Espresso          30   3.99   119.70
3     Tuesday       Latte          20   5.99   119.80
4   Wednesday    Espresso          35   3.99   139.65
5   Wednesday       Latte          25   5.99   149.75
6    Thursday    Espresso          40   3.99   159.60
7    Thursday       Latte          30   5.99   179.70
8      Friday    Espresso          45   3.99   179.55
9      Friday       Latte          35   5.99   209.65
10   Saturday    Espresso          45   3.99   179.55
11   Saturday       Latte          35   5.99   209.65
12     Sunday    Espresso          45   3.99   179.55
13     Sunday       Latte          35   5.99   209.65

### **Handling Null Values**

In [216]:
coffee.loc[[0,1], 'Units Sold'] = np.nan

In [217]:
coffee

          Day Coffee Type  Units Sold  new_price  revenue
0      Monday    Espresso         NaN       3.99    99.75
1      Monday       Latte         NaN       5.99    89.85
2     Tuesday    Espresso        30.0       3.99   119.70
3     Tuesday       Latte        20.0       5.99   119.80
4   Wednesday    Espresso        35.0       3.99   139.65
5   Wednesday       Latte        25.0       5.99   149.75
6    Thursday    Espresso        40.0       3.99   159.60
7    Thursday       Latte        30.0       5.99   179.70
8      Friday    Espresso        45.0       3.99   179.55
9      Friday       Latte        35.0       5.99   209.65
10   Saturday    Espresso        45.0       3.99   179.55
11   Saturday       Latte        35.0       5.99   209.65
12     Sunday    Espresso        45.0       3.99   179.55
13     Sunday       Latte        35.0       5.99   209.65

In [218]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   12 non-null     float64
 3   new_price    14 non-null     float64
 4   revenue      14 non-null     float64
dtypes: float64(3), object(2)
memory usage: 692.0+ bytes

In [219]:
coffee.isna().sum()

Day            0
Coffee Type    0
Units Sold     2
new_price      0
revenue        0
dtype: int64

In [220]:
coffee.fillna(coffee['Units Sold'].mean())

          Day Coffee Type  Units Sold  new_price  revenue
0      Monday    Espresso        35.0       3.99    99.75
1      Monday       Latte        35.0       5.99    89.85
2     Tuesday    Espresso        30.0       3.99   119.70
3     Tuesday       Latte        20.0       5.99   119.80
4   Wednesday    Espresso        35.0       3.99   139.65
5   Wednesday       Latte        25.0       5.99   149.75
6    Thursday    Espresso        40.0       3.99   159.60
7    Thursday       Latte        30.0       5.99   179.70
8      Friday    Espresso        45.0       3.99   179.55
9      Friday       Latte        35.0       5.99   209.65
10   Saturday    Espresso        45.0       3.99   179.55
11   Saturday       Latte        35.0       5.99   209.65
12     Sunday    Espresso        45.0       3.99   179.55
13     Sunday       Latte        35.0       5.99   209.65

In [221]:
coffee[coffee['Units Sold'].notna()]

          Day Coffee Type  Units Sold  new_price  revenue
2     Tuesday    Espresso        30.0       3.99   119.70
3     Tuesday       Latte        20.0       5.99   119.80
4   Wednesday    Espresso        35.0       3.99   139.65
5   Wednesday       Latte        25.0       5.99   149.75
6    Thursday    Espresso        40.0       3.99   159.60
7    Thursday       Latte        30.0       5.99   179.70
8      Friday    Espresso        45.0       3.99   179.55
9      Friday       Latte        35.0       5.99   209.65
10   Saturday    Espresso        45.0       3.99   179.55
11   Saturday       Latte        35.0       5.99   209.65
12     Sunday    Espresso        45.0       3.99   179.55
13     Sunday       Latte        35.0       5.99   209.65

### **Aggregating Data**

In [222]:
coffee[coffee['Coffee Type']=='Espresso']['Day'].value_counts()

Day
Monday       1
Tuesday      1
Wednesday    1
Thursday     1
Friday       1
Saturday     1
Sunday       1
Name: count, dtype: int64

In [223]:
coffee[coffee['Day']=='Monday']['Coffee Type'].value_counts()

Coffee Type
Espresso    1
Latte       1
Name: count, dtype: int64

In [224]:
coffee.groupby(['Coffee Type'])['Units Sold'].sum()

Coffee Type
Espresso    240.0
Latte       180.0
Name: Units Sold, dtype: float64

In [225]:
coffee.groupby(['Coffee Type'])['Units Sold'].mean()

Coffee Type
Espresso    40.0
Latte       30.0
Name: Units Sold, dtype: float64

In [226]:
coffee.groupby(['Coffee Type','Day']).agg({'Units Sold': 'sum','new_price': 'mean'})

                       Units Sold  new_price
Coffee Type Day
Espresso    Friday           45.0       3.99
            Monday            0.0       3.99
            Saturday         45.0       3.99
            Sunday           45.0       3.99
            Thursday         40.0       3.99
            Tuesday          30.0       3.99
            Wednesday        35.0       3.99
Latte       Friday           35.0       5.99
            Monday            0.0       5.99
            Saturday         35.0       5.99
            Sunday           35.0       5.99
            Thursday         30.0       5.99
            Tuesday          20.0       5.99
            Wednesday        25.0       5.99

In [227]:
coffee

          Day Coffee Type  Units Sold  new_price  revenue
0      Monday    Espresso         NaN       3.99    99.75
1      Monday       Latte         NaN       5.99    89.85
2     Tuesday    Espresso        30.0       3.99   119.70
3     Tuesday       Latte        20.0       5.99   119.80
4   Wednesday    Espresso        35.0       3.99   139.65
5   Wednesday       Latte        25.0       5.99   149.75
6    Thursday    Espresso        40.0       3.99   159.60
7    Thursday       Latte        30.0       5.99   179.70
8      Friday    Espresso        45.0       3.99   179.55
9      Friday       Latte        35.0       5.99   209.65
10   Saturday    Espresso        45.0       3.99   179.55
11   Saturday       Latte        35.0       5.99   209.65
12     Sunday    Espresso        45.0       3.99   179.55
13     Sunday       Latte        35.0       5.99   209.65

In [228]:
coffee.fillna(coffee['Units Sold'].mean())

          Day Coffee Type  Units Sold  new_price  revenue
0      Monday    Espresso        35.0       3.99    99.75
1      Monday       Latte        35.0       5.99    89.85
2     Tuesday    Espresso        30.0       3.99   119.70
3     Tuesday       Latte        20.0       5.99   119.80
4   Wednesday    Espresso        35.0       3.99   139.65
5   Wednesday       Latte        25.0       5.99   149.75
6    Thursday    Espresso        40.0       3.99   159.60
7    Thursday       Latte        30.0       5.99   179.70
8      Friday    Espresso        45.0       3.99   179.55
9      Friday       Latte        35.0       5.99   209.65
10   Saturday    Espresso        45.0       3.99   179.55
11   Saturday       Latte        35.0       5.99   209.65
12     Sunday    Espresso        45.0       3.99   179.55
13     Sunday       Latte        35.0       5.99   209.65

In [229]:
pivot = coffee.pivot(columns = 'Coffee Type', index = 'Day', values = 'revenue')

In [230]:
pivot

Coffee Type  Espresso   Latte
Day
Friday         179.55  209.65
Monday          99.75   89.85
Saturday       179.55  209.65
Sunday         179.55  209.65
Thursday       159.60  179.70
Tuesday        119.70  119.80
Wednesday      139.65  149.75

In [231]:
pivot.loc['Monday','Latte']

np.float64(89.85000000000001)

In [232]:
pivot.sum()

Coffee Type
Espresso    1057.35
Latte       1168.05
dtype: float64

In [233]:
pivot.sum(axis=1)

Day
Friday       389.2
Monday       189.6
Saturday     389.2
Sunday       389.2
Thursday     339.3
Tuesday      239.5
Wednesday    289.4
dtype: float64

### **Advanced Functionality**

In [234]:
coffee['yesterday_revenue'] = coffee['revenue'].shift(1)

In [235]:
coffee

          Day Coffee Type  Units Sold  new_price  revenue  yesterday_revenue
0      Monday    Espresso         NaN       3.99    99.75                NaN
1      Monday       Latte         NaN       5.99    89.85              99.75
2     Tuesday    Espresso        30.0       3.99   119.70              89.85
3     Tuesday       Latte        20.0       5.99   119.80             119.70
4   Wednesday    Espresso        35.0       3.99   139.65             119.80
5   Wednesday       Latte        25.0       5.99   149.75             139.65
6    Thursday    Espresso        40.0       3.99   159.60             149.75
7    Thursday       Latte        30.0       5.99   179.70             159.60
8      Friday    Espresso        45.0       3.99   179.55             179.70
9      Friday       Latte        35.0       5.99   209.65             179.55
10   Saturday    Espresso        45.0       3.99   179.55             209.65
11   Saturday       Latte        35.0       5.99   209.65             179.55
12     Sunday    Espresso        45.0       3.99   179.55             209.65
13     Sunday       Latte        35.0       5.99   209.65             179.55

In [236]:
coffee['yesterday_revenue'] = coffee['revenue'].shift(2)

In [237]:
coffee

          Day Coffee Type  Units Sold  new_price  revenue  yesterday_revenue
0      Monday    Espresso         NaN       3.99    99.75                NaN
1      Monday       Latte         NaN       5.99    89.85                NaN
2     Tuesday    Espresso        30.0       3.99   119.70              99.75
3     Tuesday       Latte        20.0       5.99   119.80              89.85
4   Wednesday    Espresso        35.0       3.99   139.65             119.70
5   Wednesday       Latte        25.0       5.99   149.75             119.80
6    Thursday    Espresso        40.0       3.99   159.60             139.65
7    Thursday       Latte        30.0       5.99   179.70             149.75
8      Friday    Espresso        45.0       3.99   179.55             159.60
9      Friday       Latte        35.0       5.99   209.65             179.70
10   Saturday    Espresso        45.0       3.99   179.55             179.55
11   Saturday       Latte        35.0       5.99   209.65             209.65
12     Sunday    Espresso        45.0       3.99   179.55             179.55
13     Sunday       Latte        35.0       5.99   209.65             209.65

In [240]:
coffee['pct_change'] = coffee['revenue'] / coffee['yesterday_revenue'] * 100

In [241]:
coffee

,Day,Coffee Type,Units Sold,new_price,revenue,yesterday_revenue,pct_change
0,Monday,Espresso,NaN,3.99,99.75,NaN,NaN
1,Monday,Latte,NaN,5.99,89.85,NaN,NaN
2,Tuesday,Espresso,30.0,3.99,119.70,99.75,120.000000
3,Tuesday,Latte,20.0,5.99,119.80,89.85,133.333333
4,Wednesday,Espresso,35.0,3.99,139.65,119.70,116.666667
5,Wednesday,Latte,25.0,5.99,149.75,119.80,125.000000
6,Thursday,Espresso,40.0,3.99,159.60,139.65,114.285714
7,Thursday,Latte,30.0,5.99,179.70,149.75,120.000000
8,Friday,Espresso,45.0,3.99,179.55,159.60,112.500000
9,Friday,Latte,35.0,5.99,209.65,179.70,116.666667
10,Saturday,Espresso,45.0,3.99,179.55,179.55,100.000000
11,Saturday,Latte,35.0,5.99,209.65,209.65,100.000000
12,Sunday,Espresso,45.0,3.99,179.55,179.55,100.000000
13,Sunday,Latte,35.0,5.99,209.65,209.65,100.000000

In [244]:
coffee.select_dtypes('int').cumsum()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [245]:
coffee.select_dtypes('int64').cumsum()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [246]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Day                14 non-null     object
 1   Coffee Type        14 non-null     object
 2   Units Sold         12 non-null     float64
 3   new_price          14 non-null     float64
 4   revenue            14 non-null     float64
 5   yesterday_revenue  12 non-null     float64
 6   pct_change         12 non-null     float64
dtypes: float64(5), object(2)
memory usage: 916.0+ bytes

In [247]:
coffee.select_dtypes('float').cumsum()

    Units Sold  new_price  revenue  yesterday_revenue   pct_change
0          NaN       3.99    99.75                NaN          NaN
1          NaN       9.98   189.60                NaN          NaN
2         30.0      13.97   309.30              99.75   120.000000
3         50.0      19.96   429.10             189.60   253.333333
4         85.0      23.95   568.75             309.30   370.000000
5        110.0      29.94   718.50             429.10   495.000000
6        150.0      33.93   878.10             568.75   609.285714
7        180.0      39.92  1057.80             718.50   729.285714
8        225.0      43.91  1237.35             878.10   841.785714
9        260.0      49.90  1447.00            1057.80   958.452381
10       305.0      53.89  1626.55            1237.35  1058.452381
11       340.0      59.88  1836.20            1447.00  1158.452381
12       385.0      63.87  2015.75            1626.55  1258.452381
13       420.0      69.86  2225.40            1836.20  1358.452381

In [248]:
coffee.select_dtypes('float').cumsum().reset_index()

    index  Units Sold  new_price  revenue  yesterday_revenue   pct_change
0       0         NaN       3.99    99.75                NaN          NaN
1       1         NaN       9.98   189.60                NaN          NaN
2       2        30.0      13.97   309.30              99.75   120.000000
3       3        50.0      19.96   429.10             189.60   253.333333
4       4        85.0      23.95   568.75             309.30   370.000000
5       5       110.0      29.94   718.50             429.10   495.000000
6       6       150.0      33.93   878.10             568.75   609.285714
7       7       180.0      39.92  1057.80             718.50   729.285714
8       8       225.0      43.91  1237.35             878.10   841.785714
9       9       260.0      49.90  1447.00            1057.80   958.452381
10     10       305.0      53.89  1626.55            1237.35  1058.452381
11     11       340.0      59.88  1836.20            1447.00  1158.452381
12     12       385.0      63.87  2015.75            1626.55  1258.452381
13     13       420.0      69.86  2225.40            1836.20  1358.452381

In [249]:
coffee['revenue'].cumsum()

0       99.75
1      189.60
2      309.30
3      429.10
4      568.75
5      718.50
6      878.10
7     1057.80
8     1237.35
9     1447.00
10    1626.55
11    1836.20
12    2015.75
13    2225.40
Name: revenue, dtype: float64

In [250]:
coffee['cumulative_revenue'] = coffee['revenue'].cumsum()

In [251]:
coffee

,Day,Coffee Type,Units Sold,new_price,revenue,yesterday_revenue,pct_change,cumulative_revenue
0,Monday,Espresso,NaN,3.99,99.75,NaN,NaN,99.75
1,Monday,Latte,NaN,5.99,89.85,NaN,NaN,189.60
2,Tuesday,Espresso,30.0,3.99,119.70,99.75,120.000000,309.30
3,Tuesday,Latte,20.0,5.99,119.80,89.85,133.333333,429.10
4,Wednesday,Espresso,35.0,3.99,139.65,119.70,116.666667,568.75
5,Wednesday,Latte,25.0,5.99,149.75,119.80,125.000000,718.50
6,Thursday,Espresso,40.0,3.99,159.60,139.65,114.285714,878.10
7,Thursday,Latte,30.0,5.99,179.70,149.75,120.000000,1057.80
8,Friday,Espresso,45.0,3.99,179.55,159.60,112.500000,1237.35
9,Friday,Latte,35.0,5.99,209.65,179.70,116.666667,1447.00
10,Saturday,Espresso,45.0,3.99,179.55,179.55,100.000000,1626.55
11,Saturday,Latte,35.0,5.99,209.65,209.65,100.000000,1836.20
12,Sunday,Espresso,45.0,3.99,179.55,179.55,100.000000,2015.75
13,Sunday,Latte,35.0,5.99,209.65,209.65,100.000000,2225.40